<!-- Set up your HTML -->
<div class="row owl-theme owl-carousel owl-packages image-container">
  <div> <img class="" src="{{data.image1}}" class="sliderimages" alt=""> </div>
  <div> <img src="{{data.image2}}" class="sliderimages" alt=""> </div>
  <div><img src="{{data.image3}}" class="sliderimages" alt=""> </div>
  <div><img src="{{data.image4}}" class="sliderimages" alt=""> </div>
</div>