<h1>Cart</h1>

{{#each products}}
   <img src="{{this.image}}" class="galleryimage" alt="">  <h3 class="subtitle">{{this.name}}</h3> <p>{{this.description}}</p> <p>Price:{{this.price}} </p>
   <hr>

{{/each}}

{{>checkoutform}}
